/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --front-color: #0F3557;
    --back-color: #CCE7FF;

    /* kleuren toegekend */
    --global-text-color: var(--front-color);
    --global-background-color: var(--back-color);
    --global-logo-fill: var(--front-color);
    --global-horizon-color: var(--front-color);

    /* opacity */
    --global-muted-opacity: 0.6;

    /* transitions */
}


@media (prefers-color-scheme: dark) {

}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Work sans', arial, sans-serif;
    font-feature-settings: 'zero' 1;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    color: var(--global-text-color);
    background-color: var(--global-background-color);
}

/*dark mode class */
.is-night {
    /*of in een aparte var steken en omwisselen*/
    --front-color: #CCE7FF;
    --back-color: #0F3557;
}



*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1rem;

}

/*
    Component: Sun
    ---
    The sun
*/

.c-sun {
    width: 1.375rem;
    height: 1.375rem;
    fill: var(--global-logo-fill);
}

.c-logo .c-sun {
    margin-right: 0.5rem;
}

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    display: flex;
    min-height: calc(100vh - 2 * 1rem);
    flex-direction: column;


    box-sizing: content-box; /*padding bij max-width optellen ipv aan de binnenkant toevoegen*/
    max-width: 400px;
    padding: 1rem 2rem; /* rem is met huidige font size dus 16 => 16 top bottom en 32 left right*/
    margin: 0 auto; /*center => main standaard block element*/
}

.c-app__summary {
    font-size: 1.75rem;
    line-height: 2.5rem;
}

/*
    Component: Horizon
    ---
    Horizon with sun visualisation
*/

.c-horizon {
    margin-top: auto; /*vul de ruimte op*/
}

.c-horizon__line {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--global-horizon-color);
    padding-top: .625rem;
    margin-bottom: 2.5rem;


}

.c-horizon__time {
    font-size: .75rem;
    line-height: 0.875rem;
}


.c-horizon__sky-wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;

    padding-top: 1.375rem;
    padding-right: 2.5rem;
}


.c-horizon__sky {
    position: relative;
    height: 100%;
}

.c-horizon__sun {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    transform: translateY(50%);

}

.c-horizon__sun::before {
    content: attr(data-time);
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: .75rem;
    line-height: 0.875rem;

}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: var(--global-muted-opacity);
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
